<ion-header>
  <ion-toolbar>
    <ion-title>Edit {{ recipe.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="confirmDelete()">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text><h4>Information</h4></ion-text>
  <ion-item>
    <ion-input
      type="text"
      label="Name"
      labelPlacement="floating"
      [(ngModel)]="recipe.name"
    />
  </ion-item>
  <ion-item>
    <ion-input
      type="text"
      label="Note"
      labelPlacement="floating"
      [(ngModel)]="recipe.note"
    />
  </ion-item>
  <ion-text><h4>Ingredients</h4></ion-text>
  <app-recipe-item-list [(items)]="recipe.ingredients" />
  <div id="actions">
    <ion-button color="medium" (click)="cancel()"> Cancel </ion-button>
    <ion-button color="success" (click)="save()"> Save </ion-button>
  </div>
</ion-content>
