<ion-header>
  <ion-toolbar>
    <ion-title>Edit {{ recipe.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="confirmDelete()">Delete</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input type="text" label="Name" [(ngModel)]="recipe.name" />
  </ion-item>
  <ion-item>
    <ion-textarea
      type="text"
      label="Note"
      [autoGrow]="true"
      [(ngModel)]="recipe.note"
    />
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingredients</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-recipe-item-list
        [(items)]="recipe.ingredients"
        (itemEdit)="editItem($event)"
      />
      <ion-button
        expand="block"
        size="small"
        color="primary"
        (click)="addItem()"
      >
        Add Ingredient
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div id="actions">
    <ion-button color="medium" (click)="cancel()"> Cancel </ion-button>
    <ion-button color="success" (click)="save()"> Save </ion-button>
  </div>
</ion-content>
@if (showBackdrop) {
<ion-backdrop [visible]="true" />
}
