<ion-content [fullscreen]="true">
  <div class="centered-content">
    <ion-thumbnail>
      <img alt="Logo image" src="../../../assets/icon/favicon.ico" />
    </ion-thumbnail>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ authType.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input
              type="email"
              formControlName="email"
              label="Email"
              labelPlacement="floating"
            />
          </ion-item>
          <ion-item>
            <ion-input
              type="password"
              formControlName="password"
              label="Password"
              labelPlacement="floating"
            />
          </ion-item>
          @if (errorMessage) {
          <ion-text color="danger">{{ errorMessage }}</ion-text>
          }
          <ion-button
            expand="full"
            type="submit"
            [disabled]="inputForm.invalid"
          >
            {{ authType.name }}
          </ion-button>
          <ion-button expand="full" color="tertiary" (click)="googleLogin()"
            >Log in with Google</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" color="light" (click)="toggleAuthType()">
      {{ authType.toggleMessage}}
    </ion-button>
  </div>
</ion-content>
