<app-header [title]="'Grocery List'" />
<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-select label="Store" interface="popover" [(ngModel)]="selectedStore">
      @for (store of db.pantry.stores; track store) {
      <ion-select-option value="{{ store }}">{{ store }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
  <app-item-list
    [items]="items"
    (itemEdit)="editItem($event)"
    (itemDelete)="confirmDeleteItem($event)"
  />
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="processCheckedItems()">
        <ion-icon name="checkmark-done" />
      </ion-fab-button>
      <ion-fab-button (click)="newItem()">
        <ion-icon name="add" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
