<app-header [title]="'Pantry'" />

<ion-content [fullscreen]="true">
  <app-inventory-item-list
    [items]="items"
    (itemEdit)="editItem($event)"
    (itemDelete)="confirmDeleteItem($event)"
    (itemList)="listItem($event)"
  />
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="confirmClearPantry()">
        <ion-icon name="trash" />
      </ion-fab-button>
      <!-- <ion-fab-button (click)="newItem()">
        <ion-icon name="add" />
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>
</ion-content>
