<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recipes" href="/main/recipes">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grocery" href="/main/grocery">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pantry" href="/main/pantry">
      <ion-icon aria-hidden="true" name="file-tray-full"></ion-icon>
      <ion-label>Pantry</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
