<app-header [title]="'Recipes'" />

<ion-content [fullscreen]="true">
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
  <p>Recipe Page works!</p>
</ion-content>
