<ion-list>
  @for (item of items(); track item.name) {
  <ion-item-sliding #slidingItem>
    <ion-item-options side="start">
      <ion-item-option
        color="danger"
        (click)="deleteItem(item); slidingItem.close()"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item>
      <ion-checkbox
        labelPlacement="end"
        justify="start"
        [(ngModel)]="item.checked"
      >
        <ion-label class="ion-text-nowrap">
          @if (item.quantity && item.quantity > 1) {
          <ion-note>{{ item.quantity }}</ion-note>
          }
          {{ item.name }}
          @if (item.purpose) {
          <ion-note>{{ " - " + item.purpose }}</ion-note>
          }
        </ion-label>
      </ion-checkbox>
      <ion-badge
        slot="end"
        [style]="{
          '--background': item.category.color,
          '--color': item.category.textColor
        }"
      >
        {{ item.category.name }}
      </ion-badge>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option
        color="secondary"
        (click)="editItem(item); slidingItem.close()"
      >
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  } @empty {
  <ion-item>
    <ion-text>No items found</ion-text>
  </ion-item>
  }
</ion-list>
